<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.vm.ardudodo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activies.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activies.KitchenActivity"> </activity>
        <activity android:name=".ui.activies.BedroomActivity"> </activity>
        <activity android:name=".ui.activies.KidRoomActivity"> </activity>
        <activity android:name=".ui.activies.BathroomActivity"> </activity>
        <activity android:name=".ui.activies.SettingsActivity"> </activity>

    </application>

</manifest>
